<div class="game">
  <div class="game-header">
    <div class="left-header">
      <h1>2048</h1>
      <span>Join the tiles, get to 2048!</span>
    </div>
    <div class="right-header">
      <div class="score-best">
        <div class="show-score-best">
          <h3>Score</h3><span>{{gameState.gameScore}}</span>
        </div>
        <div class="show-score-best">
          <h3>Best</h3><span>{{gameState.bestScore}}</span>
        </div>
      </div>
      <div class="new-game">
        <button (click)="startNewGame()">New Game</button>
      </div>
    </div>
  </div>
  <app-board [boardState]="gameState.boardState" (tryAgain)="startNewGame()"></app-board>
  <p class="game-instructions">
    <b>How to play: </b>
    <span *ngIf="!isTouchEnabled()">Use your <b>arrow keys</b></span>
    <span *ngIf="isTouchEnabled()"><b>Swipe</b></span>
    to move the tiles. Tiles with the same
    number <b>merge into one</b> when they touch. Add them up to reach <b>2048!</b>
  </p>
</div>
